{project_plugins, [rebar3_ex_doc]}.

{plugins, [
    rebar3_hex,
    {rebar3_cargo, "0.1.0"}
]}.

{hex, [
    {doc, ex_doc}
]}.

{ex_doc, [
    {extras, [
        {"README.md", #{title => "Overview"}},
        {"LICENSE", #{title => "License"}}
    ]},
    {main, "README.md"},
    {source_url, "https://github.com/Green-Mice/alara"},
    {api_reference, true}
]}.


{erl_opts, [debug_info]}.

{deps, []}.

{provider_hooks, [
    {post, [
        {compile, {cargo, build}}
    ]}
]}.

{cargo_opts, [
    {src_dir, "native/sied"}
]}.

{profiles, [
    {prod, [
        {cargo_opts, [
            {mode, release}
        ]}
    ]},
    {test, [
        {erl_opts, [debug_info]},
        {deps, []}
    ]}
]}.

{shell, [
    {apps, [sied]}
]}.

{files, [
    "src", "test", "native", "priv",
    "rebar.config", "Makefile", "README*", "LICENSE*"
]}.
