{project_plugins, [rebar3_ex_doc, rebar3_hex]}.

{hex, [
    {doc, ex_doc},
    {files, [
        "src", "native",
        "priv/sied.dll",
        "rebar.config", "Makefile", "README*", "LICENSE*"
    ]}
]}.

{ex_doc, [
    {extras, [
        {"README.md", #{title => "Overview"}},
        {"LICENSE", #{title => "License"}}
    ]},
    {main, "README.md"},
    {source_url, "https://github.com/roquess/sied"},
    {api_reference, true}
]}.

{erl_opts, [debug_info]}.

{deps, []}.

{shell, [
    {apps, [sied]}
]}.
